@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* font style */
  --roboto: "Roboto", sans-serif;

  /* font colors and background colors */
  --dark-blue: #1f2937;
  --white-primary: #f9faf8;
  --white-secondary: #e5e7eb;
  --button-color: #3882f6;
}
body {
  font-family: var(--roboto);
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--dark-blue);
  padding: 1rem 10rem;
}
.header h2 {
  color: var(--white-primary);
  font-size: 24px;
}
.header ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  list-style: none;
}
.header a {
  font-size: 18px;
  text-decoration: none;
  color: var(--white-secondary);
}

.hero {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;

  padding: 5rem 10rem;
  background-color: var(--dark-blue);
}
.main-text {
  max-width: 400px;
}
.main-text h1 {
  font-size: 48px;
  font-weight: 900;
  color: var(--white-primary);
  margin-bottom: 1rem;
}
.main-text p {
  margin-bottom: 1rem;
  line-height: 1.3rem;
  color: var(--white-secondary);
}
.main-text button {
  background-color: var(--button-color);
  color: var(--white-primary);
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1.8rem;

  font-size: 1rem;
  font-weight: 600;
}
.main-image-placeholder {
  background-color: hsla(220, 13%, 91%, 0.4);

  display: flex;
  align-items: center;
  justify-content: center;

  flex: 1 1 200px;
  min-height: 200px;
}
.main-image-placeholder p {
  color: var(--white-primary);
}
.information {
  padding: 2rem 8rem;
  text-align: center;
}
.information h2 {
  font-size: 36px;
  font-weight: 900;
  color: var(--dark-blue);
  margin-bottom: 1.5rem;
}
.information-cards-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 3rem;

  margin-top: 3rem;
  margin-bottom: 5rem;
}
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column nowrap;
  gap: 1rem;
  max-width: 150px;
}
.card-image {
  flex: 1 0 160px;
  min-width: 150px;
  border: 3px solid var(--button-color);
  border-radius: 1rem;
}
.card p {
  line-height: 1.3;
  color: var(--dark-blue);
}

.quote {
  background-color: var(--white-secondary);
  padding: 5rem 0;
  /* text-align: center; */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.quote-container {
  display: flex;
  flex-direction: column;
  max-width: 800px;
}
.quote p {
  font-size: 36px;
  font-weight: 300;
  color: var(--dark-blue);
}
.quote strong {
  align-self: flex-end;
}
.call-to-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--button-color);
  margin: 5rem 10rem;
  padding: 3rem 6rem;
  color: var(--white-primary);
  border-radius: 6px;
}
.call-to-action .texts h1 {
  margin-bottom: 0.5rem;
}
.texts p {
  color: var(--white-secondary);
}
.call-to-action button {
  border: 2px solid var(--white-primary);
  background-color: var(--button-color);
  color: var(--white-primary);
  padding: 0.5rem 1.8rem;
  border-radius: 6px;
}
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-blue);
  padding: 3rem 0;
  color: var(--white-primary);
}
